footer {
    padding-top: 80px;
    background-color: #004a57;
    color: #ffffff;
}

footer .logo {
    width: 120px;
    margin-bottom: 20px;
}

footer h5 {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 15px;
}

footer p {
    font-size: 14px;
    color: #ffffff;
}

footer a {
    text-decoration: none;
    color: #ffffff;
}

footer a:hover {
    text-decoration: underline;
}

footer .bi {
    margin-right: 5px;
}
