.brand-logo {
    width: 125px;
}
.navbar-scrolled {
    background-color: #004a57;
    /* border-bottom: 1px solid #a2a2a2; */
    transition: background-color 0.3s ease-in-out;
}

.bg-body-transparent {
    background-color: transparent;
    color: #fff;
    transition: background-color 0.3s ease-in-out;

}

.navbar .navbar-toggler:focus,
.navbar .btn-close:focus {
    outline: none;
    box-shadow: none;

}

.navbar .bi-text-center {
    color: #fff;
}

.navbar .offcanvas-header {
    background-color: #000;
}

.navbar .offcanvas-body {
    background-color: #000;
}

.navbar .nav-item .nav-link {
    color: #fff;
    font-size: 18px;
    font-family: Inter;
    font-weight: 500;
}

.navbar .nav-item .active {
    color: #0097B2 !important;
    font-size: 18px;
    font-family: Inter;
    font-weight: 600;
}


.navbar .sign-btn {
    display: flex;
    align-items: center;
    border: none;
    background-image: linear-gradient(to right, #002126 0%, #0097B2 51%, #0097B2 100%);
    padding: 5px 20px;
    text-align: center;
    font-size: 14px;
    font-weight: 600;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    border-radius: 30px;
    text-decoration: none;

}

.navbar .sign-btn:hover {
    background-position: right center;
    color: #fff;
    text-decoration: none;
}

@media (min-width: 992px) {
    .navbar .offcanvas-header {
        background-color: transparent;
    }

    .navbar .offcanvas-body {
        background-color: transparent;
    }

}