.signIn {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.signIn .signIn-card {
    background-color: #fff;
    border: 1px solid #0097B2;
    border-radius: 12px;
    max-width: 520px;
}
.signIn .signIn-card h2 a{
    font-size: 26px;
    font-family: Inter;
    font-weight: 800;
    color: #0097B2;
}

.signIn .signIn-card .form-control{
    display: inline !important;
}
.signIn .signIn-card .signIn-btn{
    /* width: 100%; */
    border: none;
    background-color: #0097B2;
    color: #fff;
    font-size: 14px;
    font-family: Inter;
    font-weight: 500;
    padding: 8px 14px;
    border-radius: 6px;
}